.senka_prompt_table img {
    max-width: 240px;
    max-height: 240px;
}

.senka_prompt_table textarea {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.senka_prompt_table_cell {
    display: flex;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.senka_image_file_input {
    display: none;
}

.senka_image_file_label {
    padding: 10px 10px;
    line-height: 50px;
    cursor: pointer;
}

.senka_image_dropzone {
    height: 50px;
    width: 380px;
    background-color: #CCC;
    border: 1px dashed #333;
}

.senka_image_dropzone_over {
    box-sizing: border-box;
    border: 2px solid orange;
}

.senka_image_dropzone_container {
    display: flex;
    justify-content: end;
}
